@charset "UTF-8";

/* BASIC BROWSER RESET */
*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* DESIGN MODE YELLOW
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid yellow;
}
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	/* Same as above
	font: 15px/1.5 Arial, Helvetica, sans-serif; */
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	color: #555555;

}

/* GLOBAL STYLING */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.container h1 {
	padding-top: 20px;
}

/* HEADER */
header {
	background: #212529;
	min-height: 70px;

}


#showcase {
	min-height: 400px;
	text-align:center;
	color: #ffffff;
	border-bottom: #e8491d 3px solid;
	background:url('../images/showcase.jpg') no-repeat 0 -400px;

}

#branding {
	float:left;
	background-color: black;
}

.logo {
	width:305px;
	max-width: 100%;
	background-color: #212529;
}


footer {
		width: 80%;
		margin: auto;
		overflow: hidden;
}
